h1 {
    color: purple;
    text-decoration: underline;
}
.boxes {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    position: relative;

}
#box1 {
    background-color: red;
    margin: 50px 50px;
    float: left;
}

#box2 {
    background-color: orange;
    margin: 50px 50px;
    float: left;
}
#box3 {
    background-color: yellow;
    margin: 50px 50px;
    float: left;
}
#box4 {
    background-color: green;
    margin: 50px 50px;
    float: left;
    clear: left;
}
#box5 {
    background-color: blue;
    margin: 50px 50px;
    float: left;
}
#box6 {
    background-color: violet;
    margin: 50px 50px;
    float: left;
}
.boxes>img {
    position: absolute;
    bottom: 60px;
    left: 60px;

}
